// COLORS
$main-dark: rgb(26, 26, 26);
$main-light: rgb(238, 234, 227);
$accent: #54caf8c0;
$accent2: #f3ea72;

// mixins

@function calcFlexFontSize($f-min, $f-max) {
  $k: calc(($f-max - $f-min) / (1440 - 460));
  $b: $f-min - $k * 460;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin media($width) {
  @media (max-width: $width) {
    @content
  }
};

@mixin hover() {
  @media (hover: hover){
    &:hover {
        @content
    }
  };

  @media (hover: none){
      &:active {
          @content
      }
  };
}
